## Datos agrupados con pandas: group_by

In [1]:
import pandas as pd

In [5]:
path = "ficheros/Pedidos.html"
L = pd.read_html(path)
df = L[0]
df.head()

,idpedido,cliente,importe,pais,empleado,cargo,empresa
0,10248,WILMK,32.38,Finlandia,Buchanan,Gerente de ventas,Federal Shipping
1,10320,WARTH,34.57,Finlandia,Buchanan,Gerente de ventas,Federal Shipping
2,10333,WARTH,0.59,Finlandia,Buchanan,Gerente de ventas,Federal Shipping
3,10359,SEVES,288.43,Reino Unido,Buchanan,Gerente de ventas,Federal Shipping
4,10378,FOLKO,5.44,Suecia,Buchanan,Gerente de ventas,Federal Shipping

In [6]:
paises = df.importe.groupby(df.pais)
type(paises)

pandas.core.groupby.generic.SeriesGroupBy

In [8]:
paises.sum()

pais
Alemania          11283.28
Argentina           598.58
Austria            7391.50
Belgica            1280.14
Brasil             4880.19
Canada             2198.09
Dinamarca          1396.19
Espanya             861.89
Estados Unidos    13783.33
Finlandia           943.27
Francia            4205.46
Irlanda            2755.24
Italia              864.44
Mexico             1122.78
Noruega             275.50
Polonia             163.70
Portugal            643.53
Reino Unido        2943.31
Suecia             3248.56
Suiza              1368.53
Venezuela          2735.18
Name: importe, dtype: float64

In [9]:
paises_empresas = df.importe.groupby([df.pais, df.empresa])

In [10]:
paises_empresas.mean()

pais       empresa
Alemania   Federal Shipping    130.249643
           Speedy Express       91.062500
           United Package       73.959074
Argentina  Federal Shipping     13.885000
           Speedy Express       26.394000
                                  ...
Suiza      Speedy Express       62.632500
           United Package       61.597500
Venezuela  Federal Shipping     58.532308
           Speedy Express       48.314118
           United Package       72.057500
Name: importe, Length: 63, dtype: float64