# LibrerÃ­a pandas

In [48]:
import numpy as np
import pandas as pd
from random import randint
from pandas import Series, DataFrame

In [2]:
pd.__version__

'2.0.3'

## Objeto Series

In [3]:
s1 = Series([10,2,3,4,6])
s1

0    10
1     2
2     3
3     4
4     6
dtype: int64

In [8]:
s2 = Series([10,2,3,4,6], index=list("aiios"))
s2

a    10
i     2
i     3
o     4
s     6
dtype: int64

In [5]:
s2[0]

10

In [6]:
s2["a"]

10

In [7]:
s2[["a","d","s"]]

a    10
d     2
s     6
dtype: int64

In [9]:
s2["i"]

i    2
i    3
dtype: int64

In [10]:
s2[1]

2

In [11]:
s2[2]

3

In [28]:
s1 = Series(list(range(5)), index=list('adios'))
s2 = Series(list(range(4)), index=list('hola'))
s1 = s1 * 10
s2 = s2 + 20

In [29]:
s1

a     0
d    10
i    20
o    30
s    40
dtype: int64

In [30]:
s2

h    20
o    21
l    22
a    23
dtype: int64

In [31]:
s1+s2

a    23.0
d     NaN
h     NaN
i     NaN
l     NaN
o    51.0
s     NaN
dtype: float64

In [32]:
suma = s1.add(s2, fill_value=0)
suma

a    23.0
d    10.0
h    20.0
i    20.0
l    22.0
o    51.0
s    40.0
dtype: float64

In [33]:
s1.reset_index(inplace=True, drop=True)
type(s1)

pandas.core.series.Series

In [34]:
s1

0     0
1    10
2    20
3    30
4    40
dtype: int64

In [35]:
s2.reset_index(inplace=True, drop=True)
type(s2)
s2

0    20
1    21
2    22
3    23
dtype: int64

In [36]:
s1+s2

0    20.0
1    31.0
2    42.0
3    53.0
4     NaN
dtype: float64

In [38]:
suma = s1.add(s2, fill_value=0)
suma

0    20.0
1    31.0
2    42.0
3    53.0
4    40.0
dtype: float64

In [39]:
suma[suma > 40]

2    42.0
3    53.0
dtype: float64

In [40]:
(suma > 40).sum()

2

In [41]:
suma[suma > 40]=40
suma

0    20.0
1    31.0
2    40.0
3    40.0
4    40.0
dtype: float64

In [42]:
print(suma.values)
print(suma.index)

[20. 31. 40. 40. 40.]
Index([0, 1, 2, 3, 4], dtype='int64')

In [45]:
s1 = Series(list(range(5)), index=list('adios'))
s2 = Series(list(range(5)), index=list('holas'))

resul = np.maximum(s1, s2)
resul

a    3.0
d    NaN
h    NaN
i    NaN
l    NaN
o    3.0
s    4.0
dtype: float64

In [46]:
resul.isnull()

a    False
d     True
h     True
i     True
l     True
o    False
s    False
dtype: bool

### DataFrame

In [47]:
dt = DataFrame(np.arange(25).reshape(5,5))
dt

    0   1   2   3   4
0   0   1   2   3   4
1   5   6   7   8   9
2  10  11  12  13  14
3  15  16  17  18  19
4  20  21  22  23  24

In [ ]:
d = {col:[randint(1,20)] for col in "abcde"}
dt2 = DataFrame()