# Merge de 3 dataframes

In [1]:
import pandas as pd

In [2]:
path="../ficheros_curso/merge/"

In [3]:
dfPed = pd.read_csv(path+"Pedidos.txt", sep=";")
dfPed.shape

(830, 6)

In [4]:
dfEmp = pd.read_csv(path+"Empleados.txt", sep=";")
dfEmp.shape

(9, 3)

In [5]:
dfEmpr = pd.read_csv(path+"Empresas.txt", sep=";")
dfEmpr.shape

(3, 2)

In [6]:
dfTotal = pd.merge(dfPed, dfEmp, left_on="idempleado", right_on="id")
dfTotal.head()

,idpedido,cliente,idempleado,idempresa,importe,pais,id,nombre,cargo
0,10248,WILMK,5,3,32.38,Finlandia,5,Buchanan,Gerente de ventas
1,10254,CHOPS,5,2,22.98,Suiza,5,Buchanan,Gerente de ventas
2,10269,WHITC,5,1,4.56,Estados Unidos,5,Buchanan,Gerente de ventas
3,10297,BLONP,5,2,5.74,Francia,5,Buchanan,Gerente de ventas
4,10320,WARTH,5,3,34.57,Finlandia,5,Buchanan,Gerente de ventas

In [7]:
dfTotal = dfTotal.merge(dfEmpr, left_on='idempresa', right_on='id')
dfTotal.head()

,idpedido,cliente,idempleado,idempresa,importe,pais,id_x,nombre,cargo,id_y,empresa
0,10248,WILMK,5,3,32.38,Finlandia,5,Buchanan,Gerente de ventas,3,Federal Shipping
1,10320,WARTH,5,3,34.57,Finlandia,5,Buchanan,Gerente de ventas,3,Federal Shipping
2,10333,WARTH,5,3,0.59,Finlandia,5,Buchanan,Gerente de ventas,3,Federal Shipping
3,10359,SEVES,5,3,288.43,Reino Unido,5,Buchanan,Gerente de ventas,3,Federal Shipping
4,10378,FOLKO,5,3,5.44,Suecia,5,Buchanan,Gerente de ventas,3,Federal Shipping

In [8]:
dfTotal.rename(columns={"nombre":"empleado"}, inplace=True)
dfTotal.head()

,idpedido,cliente,idempleado,idempresa,importe,pais,id_x,empleado,cargo,id_y,empresa
0,10248,WILMK,5,3,32.38,Finlandia,5,Buchanan,Gerente de ventas,3,Federal Shipping
1,10320,WARTH,5,3,34.57,Finlandia,5,Buchanan,Gerente de ventas,3,Federal Shipping
2,10333,WARTH,5,3,0.59,Finlandia,5,Buchanan,Gerente de ventas,3,Federal Shipping
3,10359,SEVES,5,3,288.43,Reino Unido,5,Buchanan,Gerente de ventas,3,Federal Shipping
4,10378,FOLKO,5,3,5.44,Suecia,5,Buchanan,Gerente de ventas,3,Federal Shipping

In [9]:
dfTotal = dfTotal[['cliente','empleado','empresa','pais','importe']]
dfTotal.head()

  cliente  empleado           empresa         pais  importe
0   WILMK  Buchanan  Federal Shipping    Finlandia    32.38
1   WARTH  Buchanan  Federal Shipping    Finlandia    34.57
2   WARTH  Buchanan  Federal Shipping    Finlandia     0.59
3   SEVES  Buchanan  Federal Shipping  Reino Unido   288.43
4   FOLKO  Buchanan  Federal Shipping       Suecia     5.44

### Groupby

In [15]:
grupo = dfTotal.importe.groupby(dfTotal.pais)
type(grupo)

pandas.core.groupby.generic.SeriesGroupBy

In [16]:
grupo.mean()

pais
Alemania           92.485902
Argentina          37.411250
Austria           184.787500
Belgica            67.375789
Brasil             58.797470
Canada             73.269667
Dinamarca          77.566111
Espanya            37.473478
Estados Unidos    112.059593
Finlandia          41.011739
Francia            55.335000
Irlanda           145.012632
Italia             30.872857
Mexico             40.099286
Noruega            45.916667
Polonia            27.283333
Portugal           49.502308
Reino Unido        53.514727
Suecia             85.488421
Suiza              76.029444
Venezuela          59.460435
Name: importe, dtype: float64

In [11]:
dfTotal.importe.groupby(dfTotal.pais).sum()

pais
Alemania          11283.28
Argentina           598.58
Austria            7391.50
Belgica            1280.14
Brasil             4880.19
Canada             2198.09
Dinamarca          1396.19
Espanya             861.89
Estados Unidos    13783.33
Finlandia           943.27
Francia            4205.46
Irlanda            2755.24
Italia              864.44
Mexico             1122.78
Noruega             275.50
Polonia             163.70
Portugal            643.53
Reino Unido        2943.31
Suecia             3248.56
Suiza              1368.53
Venezuela          2735.18
Name: importe, dtype: float64

In [13]:
pd.set_option("display.max_rows", None)

In [14]:
dfTotal.importe.groupby([dfTotal.empresa,dfTotal.pais]).sum()

empresa           pais
Federal Shipping  Alemania          3646.99
                  Argentina           55.54
                  Austria           2107.10
                  Belgica            279.73
                  Brasil             823.84
                  Canada             848.29
                  Dinamarca          390.44
                  Espanya            128.52
                  Estados Unidos    5710.03
                  Finlandia          265.68
                  Francia           1790.99
                  Irlanda            602.12
                  Italia             203.36
                  Mexico             418.34
                  Noruega             38.64
                  Polonia             54.02
                  Portugal           256.04
                  Reino Unido        973.75
                  Suecia             532.95
                  Suiza              625.22
                  Venezuela          760.92
Speedy Express    Alemania          3642.50
                  Argentina          131.97
                  Austria           2218.57
                  Belgica            269.00
                  Brasil            1542.92
                  Canada             284.10
                  Dinamarca          400.84
                  Espanya            185.33
                  Estados Unidos    2294.72
                  Finlandia          278.01
                  Francia           1149.98
                  Irlanda            262.71
                  Italia             452.65
                  Mexico             176.31
                  Noruega             13.37
                  Polonia              8.72
                  Portugal            67.72
                  Reino Unido        735.88
                  Suecia             968.70
                  Suiza              250.53
                  Venezuela          821.34
United Package    Alemania          3993.79
                  Argentina          411.07
                  Austria           3065.83
                  Belgica            731.41
                  Brasil            2513.43
                  Canada            1065.70
                  Dinamarca          604.91
                  Espanya            548.04
                  Estados Unidos    5778.58
                  Finlandia          399.58
                  Francia           1264.49
                  Irlanda           1890.41
                  Italia             208.43
                  Mexico             528.13
                  Noruega            223.49
                  Polonia            100.96
                  Portugal           319.77
                  Reino Unido       1233.68
                  Suecia            1746.91
                  Suiza              492.78
                  Venezuela         1152.92
Name: importe, dtype: float64

### Gestión de duplicados en un DataFrame

In [19]:
dfPrueba = dfTotal[['empresa','empleado','pais']]
dfPrueba.sort_values(["empresa","empleado","pais"])
dfPrueba.head(10)

            empresa  empleado            pais
0  Federal Shipping  Buchanan       Finlandia
1  Federal Shipping  Buchanan       Finlandia
2  Federal Shipping  Buchanan       Finlandia
3  Federal Shipping  Buchanan     Reino Unido
4  Federal Shipping  Buchanan          Suecia
5  Federal Shipping  Buchanan         Belgica
6  Federal Shipping  Buchanan         Belgica
7  Federal Shipping  Buchanan          Brasil
8  Federal Shipping  Buchanan  Estados Unidos
9  Federal Shipping  Buchanan        Alemania

In [20]:
dfPrueba.duplicated()

0      False
1       True
2       True
3      False
4      False
5      False
6       True
7      False
8      False
9      False
10      True
11     False
12      True
13     False
14     False
15     False
16     False
17     False
18     False
19      True
20      True
21     False
22     False
23     False
24      True
25     False
26     False
27      True
28      True
29      True
30     False
31     False
32     False
33     False
34     False
35     False
36     False
37     False
38     False
39      True
40     False
41     False
42     False
43      True
44      True
45      True
46      True
47      True
48      True
49      True
50      True
51     False
52      True
53     False
54      True
55      True
56      True
57     False
58      True
59      True
60      True
61     False
62     False
63     False
64      True
65      True
66     False
67      True
68      True
69      True
70      True
71      True
72     False
73     False
74     False
75     False
76     False
77      True
78     False
79      True
80     False
81      True
82      True
83      True
84      True
85     False
86      True
87      True
88      True
89      True
90     False
91      True
92     False
93      True
94      True
95      True
96      True
97     False
98      True
99     False
100     True
101     True
102     True
103     True
104     True
105     True
106     True
107    False
108     True
109     True
110     True
111     True
112     True
113     True
114     True
115     True
116     True
117     True
118    False
119    False
120    False
121    False
122    False
123    False
124    False
125    False
126     True
127    False
128    False
129    False
130    False
131     True
132    False
133    False
134    False
135    False
136    False
137     True
138    False
139    False
140    False
141     True
142     True
143     True
144     True
145     True
146    False
147     True
148     True
149     True
150     True
151     True
152    False
153     True
154    False
155     True
156    False
157    False
158    False
159     True
160     True
161     True
162     True
163     True
164     True
165     True
166    False
167     True
168    False
169     True
170     True
171     True
172     True
173    False
174    False
175    False
176    False
177    False
178     True
179     True
180    False
181    False
182    False
183    False
184     True
185    False
186    False
187     True
188     True
189    False
190    False
191     True
192     True
193     True
194     True
195     True
196     True
197    False
198     True
199     True
200    False
201     True
202    False
203    False
204    False
205    False
206    False
207    False
208    False
209     True
210    False
211    False
212     True
213     True
214     True
215     True
216     True
217     True
218     True
219    False
220    False
221     True
222     True
223    False
224     True
225    False
226     True
227    False
228    False
229     True
230     True
231    False
232    False
233     True
234    False
235     True
236    False
237     True
238     True
239     True
240    False
241     True
242    False
243    False
244    False
245    False
246     True
247     True
248    False
249    False
250     True
251    False
252     True
253    False
254     True
255    False
256    False
257    False
258    False
259    False
260    False
261     True
262    False
263    False
264     True
265    False
266     True
267    False
268     True
269     True
270    False
271     True
272    False
273    False
274    False
275    False
276    False
277     True
278     True
279    False
280     True
281     True
282    False
283     True
284    False
285     True
286     True
287     True
288    False
289     True
290     True
291     True
292     True
293     True
294     True
295    False
296    False
297    False
298     True
299    False
300     True
301     True
302    False
303    False
304     True
305    False
306     True
307     True
308    False
309    False
310    False
311     True
312     True
313     True
314    False
315    False
316    False
317     True
318    False
319     True
320     True
321    False
322    False
323     True
324     True
325     True
326     True
327     True
328     True
329     True
330     True
331     True
332     True
333     True
334    False
335     True
336     True
337     True
338     True
339     True
340     True
341     True
342     True
343     True
344     True
345     True
346     True
347     True
348     True
349     True
350     True
351    False
352     True
353     True
354     True
355    False
356     True
357     True
358     True
359     True
360     True
361     True
362     True
363     True
364     True
365     True
366    False
367     True
368    False
369    False
370    False
371    False
372    False
373    False
374     True
375    False
376     True
377    False
378     True
379    False
380     True
381     True
382     True
383     True
384     True
385     True
386     True
387     True
388     True
389     True
390     True
391     True
392     True
393     True
394     True
395     True
396     True
397     True
398    False
399     True
400     True
401     True
402     True
403     True
404     True
405     True
406     True
407     True
408     True
409    False
410     True
411    False
412     True
413    False
414    False
415    False
416    False
417     True
418    False
419     True
420     True
421    False
422     True
423    False
424    False
425    False
426    False
427     True
428     True
429     True
430    False
431    False
432    False
433    False
434     True
435    False
436     True
437    False
438    False
439    False
440     True
441    False
442    False
443     True
444     True
445     True
446     True
447     True
448     True
449     True
450    False
451     True
452     True
453     True
454     True
455     True
456     True
457     True
458     True
459     True
460    False
461     True
462     True
463    False
464    False
465     True
466     True
467     True
468     True
469    False
470     True
471     True
472     True
473     True
474    False
475    False
476     True
477    False
478    False
479    False
480    False
481     True
482    False
483    False
484     True
485     True
486     True
487     True
488    False
489    False
490     True
491    False
492    False
493     True
494     True
495     True
496    False
497     True
498    False
499     True
500     True
501     True
502     True
503     True
504     True
505     True
506     True
507     True
508     True
509     True
510     True
511     True
512     True
513     True
514     True
515    False
516    False
517     True
518     True
519     True
520     True
521    False
522    False
523    False
524    False
525    False
526     True
527    False
528     True
529    False
530     True
531    False
532    False
533    False
534     True
535     True
536     True
537     True
538    False
539     True
540     True
541     True
542    False
543     True
544    False
545     True
546     True
547     True
548     True
549     True
550     True
551    False
552     True
553    False
554     True
555     True
556     True
557     True
558    False
559    False
560    False
561    False
562    False
563    False
564    False
565     True
566    False
567    False
568    False
569     True
570    False
571     True
572     True
573     True
574     True
575     True
576     True
577    False
578     True
579     True
580     True
581    False
582    False
583    False
584    False
585    False
586     True
587     True
588     True
589    False
590     True
591    False
592    False
593     True
594    False
595    False
596    False
597    False
598    False
599    False
600    False
601    False
602     True
603     True
604     True
605     True
606    False
607     True
608     True
609    False
610     True
611     True
612     True
613     True
614     True
615     True
616     True
617     True
618    False
619     True
620    False
621     True
622     True
623    False
624     True
625     True
626    False
627     True
628     True
629     True
630    False
631     True
632     True
633    False
634    False
635    False
636     True
637    False
638     True
639     True
640     True
641     True
642     True
643     True
644    False
645    False
646     True
647    False
648     True
649     True
650     True
651     True
652    False
653    False
654     True
655     True
656     True
657    False
658     True
659     True
660     True
661     True
662     True
663    False
664    False
665    False
666    False
667     True
668    False
669    False
670    False
671    False
672    False
673     True
674    False
675    False
676     True
677     True
678     True
679     True
680     True
681     True
682     True
683     True
684     True
685    False
686     True
687    False
688     True
689     True
690     True
691    False
692    False
693     True
694     True
695    False
696     True
697     True
698     True
699     True
700    False
701    False
702    False
703     True
704    False
705    False
706    False
707    False
708    False
709    False
710    False
711    False
712    False
713     True
714    False
715    False
716    False
717    False
718     True
719    False
720     True
721    False
722    False
723    False
724    False
725    False
726    False
727     True
728     True
729     True
730     True
731     True
732     True
733     True
734     True
735     True
736     True
737     True
738     True
739    False
740     True
741    False
742     True
743     True
744     True
745     True
746     True
747     True
748    False
749    False
750     True
751    False
752    False
753    False
754    False
755    False
756     True
757    False
758     True
759     True
760     True
761     True
762     True
763     True
764     True
765    False
766     True
767     True
768     True
769     True
770     True
771     True
772     True
773    False
774     True
775    False
776    False
777     True
778    False
779    False
780    False
781     True
782    False
783     True
784    False
785     True
786     True
787    False
788    False
789    False
790     True
791    False
792     True
793     True
794     True
795     True
796     True
797     True
798     True
799     True
800     True
801    False
802    False
803     True
804     True
805    False
806     True
807     True
808     True
809     True
810    False
811    False
812    False
813    False
814    False
815     True
816    False
817     True
818    False
819     True
820    False
821    False
822    False
823    False
824     True
825     True
826     True
827    False
828    False
829    False
dtype: bool