## LibrerÃ­a pandas

In [29]:
import numpy as np
import pandas as pd
from random import randint
from pandas import Series, DataFrame

#### Objeto Series

In [4]:
s1 = Series(np.arange(5))
s2 = Series([1,2,3,4,5])

In [5]:
s1

0    0
1    1
2    2
3    3
4    4
dtype: int32

In [6]:
s2

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [7]:
s1[0] = 100
s1

0    100
1      1
2      2
3      3
4      4
dtype: int32

In [9]:
s3 = Series([1,2,3,4,5], index=list('abcde'))
s3

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [10]:
print(s3['a'])
print(s3[0])

1
1

In [11]:
s4 = Series([10,22,13,34,55], index=list('adios'))
s4

a    10
d    22
i    13
o    34
s    55
dtype: int64

In [12]:
s3 + s4

a    11.0
b     NaN
c     NaN
d    26.0
e     NaN
i     NaN
o     NaN
s     NaN
dtype: float64

In [14]:
suma=s3.add(s4, fill_value=0)
suma

a    11.0
b     2.0
c     3.0
d    26.0
e     5.0
i    13.0
o    34.0
s    55.0
dtype: float64

In [15]:
suma[['a','c','s']]

a    11.0
c     3.0
s    55.0
dtype: float64

In [16]:
suma.sum()

149.0

In [17]:
suma[suma > 10]

a    11.0
d    26.0
i    13.0
o    34.0
s    55.0
dtype: float64

In [18]:
suma[suma > 10].sum()

139.0

In [19]:
suma > 10

a     True
b    False
c    False
d     True
e    False
i     True
o     True
s     True
dtype: bool

In [20]:
suma[(suma > 10) & (suma < 20)]

a    11.0
i    13.0
dtype: float64

In [21]:
(suma > 10).sum()

5

In [27]:
a = Series([22,44,-1,5,8], index=list("aeiou"))
b = Series([0,4,-10,15,78,9], index=list("aeiouy"))
 
np.fmax(a,b)

a    22.0
e    44.0
i    -1.0
o    15.0
u    78.0
y     9.0
dtype: float64

In [26]:
a = Series([22,44,-1,5,8], index=list('aeiou'))
b = Series([0,4,-10,15,78,9], index=list('aeiouy'))

np.maximum(a,b)

a    22.0
e    44.0
i    -1.0
o    15.0
u    78.0
y     NaN
dtype: float64

In [23]:
suma.isnull()

a    False
b    False
c    False
d    False
e    False
i    False
o    False
s    False
dtype: bool

In [24]:
pd.isnull(suma)

a    False
b    False
c    False
d    False
e    False
i    False
o    False
s    False
dtype: bool

#### Dataframe

In [28]:
m = np.arange(25).reshape(5,5)
df1 = DataFrame(m)
df1

    0   1   2   3   4
0   0   1   2   3   4
1   5   6   7   8   9
2  10  11  12  13  14
3  15  16  17  18  19
4  20  21  22  23  24

In [ ]:
d = {letra:[] }