### Librer√≠a pandas ficheros

In [1]:
import pandas as pd
import numpy as np

In [2]:
path = "../ficheros_curso/merge/Pedidos.txt"

In [4]:
df = pd.read_csv(path, sep=';')
df.head()

   idpedido cliente  idempleado  idempresa  importe       pais
0     10248   WILMK           5          3    32.38  Finlandia
1     10249   TOMSP           6          1    11.61   Alemania
2     10250   HANAR           4          2    65.83     Brasil
3     10251   VICTE           3          1    41.34    Francia
4     10252   SUPRD           4          2    51.30    Belgica