### Pandas: fichero de pedidos

Filtros por pais y separar el fichero de pedidos en varios ficheros. Uno fichero por cada pais

In [1]:
import pandas as pd

In [3]:
df = pd.read_excel("../ficheros_curso/Pedidos_total.xlsx")
df.head()

   idpedido cliente  importe    iva  total       pais
0     10248   WILMK    32.38   6.80  39.18  Finlandia
1     10249   TOMSP    11.61   2.44  14.05   Alemania
2     10250   HANAR    65.83  13.82  79.65     Brasil
3     10251   VICTE    41.34   8.68  50.02    Francia
4     10252   SUPRD    51.30  10.77  62.07    Belgica

In [7]:
df[(df.pais=='Suiza') & (df.total > 100)]

     idpedido cliente  importe    iva   total   pais
7       10255   RICSU   148.33  31.15  179.48  Suiza
171     10419   RICSU   137.35  28.84  166.19  Suiza
271     10519   CHOPS    91.76  19.27  111.03  Suiza
418     10666   RICSU   232.42  48.81  281.23  Suiza
483     10731   CHOPS    96.65  20.30  116.95  Suiza
503     10751   RICSU   130.79  27.47  158.26  Suiza
510     10758   RICSU   138.17  29.02  167.19  Suiza
785     11033   RICSU    84.74  17.80  102.54  Suiza

In [9]:
paises = sorted(df.pais.unique())
paises

['Alemania',
 'Argentina',
 'Austria',
 'Belgica',
 'Brasil',
 'Canada',
 'Dinamarca',
 'Espanya',
 'Estados Unidos',
 'Finlandia',
 'Francia',
 'Irlanda',
 'Italia',
 'Mexico',
 'Noruega',
 'Polonia',
 'Portugal',
 'Reino Unido',
 'Suecia',
 'Suiza',
 'Venezuela']

In [10]:
len(paises)

21