# Merge de 3 dataframes

In [1]:
import pandas as pd

In [3]:
path="../ficheros_curso/merge/"

In [4]:
dfPed = pd.read_csv(path+"Pedidos.txt", sep=";")
dfPed.shape

(830, 6)

In [5]:
dfEmp = pd.read_csv(path+"Empleados.txt", sep=";")
dfEmp.shape

(9, 3)

In [6]:
dfEmpr = pd.read_csv(path+"Empresas.txt", sep=";")
dfEmpr.shape

(3, 2)

In [7]:
dfTotal = pd.merge(dfPed, dfEmp, left_on="idempleado", right_on="id")
dfTotal.head()

,idpedido,cliente,idempleado,idempresa,importe,pais,id,nombre,cargo
0,10248,WILMK,5,3,32.38,Finlandia,5,Buchanan,Gerente de ventas
1,10254,CHOPS,5,2,22.98,Suiza,5,Buchanan,Gerente de ventas
2,10269,WHITC,5,1,4.56,Estados Unidos,5,Buchanan,Gerente de ventas
3,10297,BLONP,5,2,5.74,Francia,5,Buchanan,Gerente de ventas
4,10320,WARTH,5,3,34.57,Finlandia,5,Buchanan,Gerente de ventas